@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lobster&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --light-blue: #e7fafe;
  --light-skay-blue: #e7f9fd;
  --type-brekfast-food: linear-gradient(
    180deg,
    rgba(112, 130, 70, 0) 0%,
    rgba(112, 130, 70, 0.1) 100%
  );

  --type-Vegan-food: linear-gradient(
    180deg,
    rgba(108, 198, 63, 0) 0%,
    rgba(108, 198, 63, 0.1) 100%
  );

  --type-Meat-food: linear-gradient(
    180deg,
    rgba(204, 38, 27, 0) 0%,
    rgba(204, 38, 27, 0.1) 100%
  );

  --type-disert-food: linear-gradient(
    180deg,
    rgba(240, 158, 0, 0) 0%,
    rgba(240, 158, 0, 0.1) 100%
  );

  --type-Lunch-Chocolate-food: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.05) 100%
  );

  --type-ad-chef-c-food: linear-gradient(
    180deg,
    rgba(231, 249, 253, 0) 0%,
    #e7f9fd 100%
  );

  --color-menu-item: linear-gradient(
    180deg,
    rgba(231, 249, 253, 0) 0%,
    #e7f9fd 100%
  );

  --buttom-main-color: #000;
  --titl-font: "Lobster";
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* categori atribiot */
html {
  font-size: 10px;
}
body {
  height: 100vh;
  font-family: "Inter";
}
ul {
  list-style: none;
  padding-right: 0;
  display: flex;
  justify-content: space-between;
}
p {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0%;
}
.huge-p {
  font-weight: 600;
  font-size: 64px;
  line-height: 100%;
  letter-spacing: -4%;
}
.huge {
  font-weight: 600;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: -4%;
}
.button {
  background-color: var(--buttom-main-color);
  display: flex;
  align-items: center;
  padding: 21px 37px;
  border-radius: 1.6rem;
  color: white;
}
.i-dn {
  display: flex;
  justify-content: space-between;
  width: 127px;
}
/* done categori atribiot */
nav {
  display: flex;
  padding: 4rem 8rem;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(83, 80, 80);
}
.part1 {
  font-size: 2.4rem;
  font-family: var(--titl-font);
  span {
    color: #ff7426;
  }
}
.part2 {
  width: 50.5rem;
}
.part2 ul li {
  font-size: 16px;
  font-weight: 500;
}
.part3 {
  width: 13.396rem;
}
/* ! main part */
main {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 4rem 8rem;
}
.box1,
.box2,
.box3,
.box4,
.box5,
footer {
  width: 128rem;
}
.box1 {
  display: flex;
  border-radius: 1.2rem;
  position: relative;
  padding-bottom: 16rem;
}
.spicy {
  background-color: #e7fafe;
  display: flex;
  flex-direction: column;
  gap: 32px;
  border-radius: 40px 0 0 4rem;
  padding: 5rem;
  width: 620px;
  height: 640px;
}
/* .item-frist1 {


} */
.mini-button {
  background-color: white;
  border: none;
  border-radius: 3rem;
  display: flex;
  gap: 13px;
  align-items: center;
  justify-content: center;
  width: 156px;
  height: 4.5rem;
  padding: 0;

  p {
    color: rgba(0, 0, 0, 0.6);
  }
}
.item-frist2 {
  display: flex;
  gap: 24px;
  flex-direction: column;
}
.item-frist2 div {
  padding-top: 6px;
  padding-bottom: 72px;
  display: flex;
  gap: 16px;
}
.item-frist3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.profil {
  display: flex;
  flex-direction: row;
  gap: 1.6rem;
}
.prof-img {
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
}
.box-img {
  border-radius: 0 4rem 4rem 0;
}
.box1-img-2 {
  position: absolute;
  width: 150.00000000000057px;
  height: 150.00000000000057px;
  top: 65px;
  left: 557px;
}

.box2 {
  display: flex;
  flex-direction: column;
}
.itrme-secend1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8rem;
}
.categories-items {
  /* width: 180px;
  height: 202px; */
  width: 180px;
  height: 152px;
  border-radius: 30px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 3rem;
}
.categories-items-1 {
  background: var(--type-brekfast-food);
}
.categories-items-2 {
  background: var(--type-Vegan-food);
}
.categories-items-3 {
  background: var(--type-Meat-food);
}
.categories-items-4 {
  background: var(--type-disert-food);
}
.categories-items-5 {
  background: var(--type-Lunch-Chocolate-food);
}
.categories-items-6 {
  background: var(--type-Lunch-Chocolate-food);
}

.Categories-button {
  background-color: var(--light-blue);
  border-radius: 16px;
  font-weight: 600;
  font-size: 16px;
  border: none;
}
.itrme-secend2 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.secend-image {
  position: absolute;
  top: -42px;
 
}
.categories-font {
  font-weight: 600;
  font-size: 18px;
  text-align: center;
}
.glass {
  position: absolute;
  top: -27px;
  left: 66px;
  width: 100px;
  height: 100px;
  opacity: 40%;
  filter: blur(20px);
}
/* !box 3 */
.box3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 18.3rem;
  gap: 4rem;
}
header {
  grid-column: 1/-1;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  align-items: center;
  text-align: center;
}
.therd-items {
  width: 400px;
  height: 434px;
  border-radius: 30px;
  background: var(--color-menu-item);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 16px 32px 16px;
}

.therd-items-6 {
  position: relative;
  background-image: url(./image/box3/Mask-Group.png);
  border-radius: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0 32px 0;
  img {
    position: absolute;
    top: 85px;
  }
}
.chosi {
  font-family: var(--titl-font);
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}
a {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
}
.menu-image {
  position: relative;
  width: 368;
  height: 364;
}
.menu-image img:first-child {
  border-radius: 20px;
}
.menu-image img:last-child {
  position: absolute;
  top: 10px;
  right: 10px;
}
.menu-content {
  width: 352px;
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.menu-content .m-b {
  display: flex;
  padding-left: 25px;
  padding-right: -20px;
  gap: 24px;
  width: 240px;
}
.iden {
  display: flex;
  gap: 10px;
}
.menu-main-font {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -4%;
}
/* !box 4 */
.box4 {
  display: flex;
  gap: 4.4rem;
  margin-top: 143px;
  /* align-items: center; */
}
.b4-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 526px;
  margin-top: 16.9rem;
}
.b4-but {
  margin-top: 48px;
  width: 180px;
  height: 60px;
  color: white;
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
}
.b4-image {
  position: relative;
  background-image: linear-gradient(
    180deg,
    rgba(231, 249, 253, 0) 0%,
    #e7f9fd 100%
  );
  width: 710px;
  height: 597px;
  border-radius: 30px;
}
.chef-img {
  position: absolute;
}
.flote-img-2 {
  position: absolute;
  top: 167px;
  right: -14px;
}
.flote-img-3 {
  position: absolute;
  transform: rotate(15deg);
  top: 70px;
  left: 102px;
}
.flote-img-4 {
  position: absolute;
  top: 97px;
  right: 130.76px;
  transform: rotate(-15deg);
}
.flote-img-5 {
  position: absolute;
  bottom: 124px;
  left: -25px;
}

.box5 {
  position: relative;
  background: #e7f9fd;
  margin-top: 74px;
  border-radius: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 442px;
}
.content-box5 {
  width: 620px;
  height: 282px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  text-align: center;
}
.box5-l-image {
  position: absolute;
  bottom: 3.26px;
  left: 2.42px;
  border-radius: 0 0 0 6rem;
}
.box5-r-image {
  position: absolute;
  bottom: 0.38px;
  right: 1px;
  border-radius: 0 0 6rem 0;
}
form {
  position: relative;
}
input[type="email"] {
  width: 480px;
  height: 80px;
  border-radius: 24px;
  background: #ffffff;
  font-weight: 500;
  font-size: 14px;
  color: #00000066;
  padding: 32px 314px 32px 32px;
  border: none;
}
input[type="submit"] {
  position: absolute;
  font-weight: 600;
  font-size: 14px;
  top: 10px;
  right: 80px;
}
.part-fo-1 {
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px black;
}
footer {
  margin-top: 176px;
}
.c-part-fo-1 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-bottom: 4.8rem;
}
.f-list {
  font-weight: 500;
  font-size: 16px;
}
.part-fo-2 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding-top: 4.8rem;
}
.last {
  grid-column: 4/9;
  justify-self: center;
  font-weight: 400;
  font-size: 18px;

  span {
    color: #ff7426;
  }
}
.last-icon{
  grid-column:10 /-1;
  justify-self: last baseline;
}